@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

#cartDropdown {
  left: -10rem;
  width: calc((33vw * 0.44) + 10rem);
}

.cartPreviewItem img {
 max-width: 100%;
 max-height: calc((((33vw * 0.44) + 10rem) - 2vw) * 0.4);
}

#cartDropdown img {
  width: 7.5rem;
  height: calc(8rem * 1.15);
  padding-top: 1rem;
}


#grid-for-total-cost {
  display: grid;
  background: whitesmoke;
  grid-template-columns: 40% 60%;
  padding: 1rem;
  filter: invert(3.5%);
}

.checkout-text {
  background: #0a0a0a ;
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 0;
}

.checkout-text:hover{
  transition: filter 0.25s;
  filter: invert(1);
}

.dropdown li {
  background: whitesmoke;
  padding: 2rem 1vw;
  list-style: none;
  color: black;
}

#first-time-container
{
  background: url('./images/plasticIDOL/background.png');
 height: 100vh;
 width: 100vw;
 background-size: cover;
 overflow: hidden;
}

.first-time-welcome-text{
  text-align: center;    font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  top: 30%;
  position: relative;
  color: white;
  filter: drop-shadow(3px 13px 3px black);
}

.first-time-tnc-gdpr-text
{
  position: absolute;
left: 2%;     font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  bottom: 5%;
  font-weight: bold;
}


span a {
  text-decoration: none;
  color: black;
}


.menu-item li {
  background: whitesmoke;
  padding: 2rem;
  text-align: left;
}

.menu-item li:hover {
  transition: 0.1s;
  background: rgb(219, 219, 219);
}

.menu-item {
  color: black;
  text-decoration: none;
}

footer div {
  font-weight: 600;
}

footer a:visited,
footer a {
  color: black;
}

footer a p {
  font-weight: normal;
}

.dropdown {
  position: absolute;
  /* full header height - icon height divided by two + icon height -1px */
  top: calc((12vh - 5vh) / 2 + 5vh - 1px);
  width: calc(33vw * 0.44);
  left: 0;
  overflow: hidden;

  z-index: 2;
}

.dropdownChild {
  max-height: calc(((8rem * 1.2) + 4rem) * 3);
  width: inherit;
  max-width: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu-item {
  list-style: none;
}

footer {
  padding-top: 2.25rem;
}
footer p {
  font-size: 1rem;
}

/* applies to left and right footer parts */
footer .imageContainer img {
  width: 2.2rem;
  padding: 0 1.3rem;
  margin-top: 0.5rem;
}

.cartPreviewItemTextGrid {
  padding-top: 1rem;
  width: 100%;
  display: grid;
  margin-left: 0.5vw;
  grid-template-rows: 2.5rem 5rem;

  grid-template-columns: 60% 40%;
}

.fullScreenProductPhoto {
  background: red;
  width: 100%;
  height: 100vh;
  z-index: 999;
  position: absolute;
}

.cartPreviewItem {
  display: grid;
  grid-template-columns: 30% 70%;
}

.cartPreviewItem p {
  text-transform: uppercase;
}

.productPrice {
  margin-top: 4vh;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
  font-size: 3rem;
  font-family: "Quicksand";
}

.productSizing {
  text-align: center;
  max-width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.productSizing li {
  list-style: none;
  display: inline;

  padding: 0.25rem 0.8rem;
  margin: 0 0.2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

.productDescription {
  max-width: 100%;
  margin-top: 4vh;
}

.productDescriptionText p {
  line-height: 2;
  font-size: 1.5rem;
}

.loadingImgParent {
  margin: 0 auto;
  margin-top: 66px;
  text-align: center;
  width: 600px;
}

.additionalPhotoBox {
  cursor: pointer;
  width: calc(14rem * 0.833333);
  max-width: 100%;
  max-height: 100%;
}

#photosGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin: 2rem auto;
}

.bigProduct {
  width: 22.5rem;
  max-width: 100%;
  max-height: 87vh;
  height: 27rem;
}

.bigProductContainer {
  width: 22.5rem;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 370px 370px 370px;
  grid-template-columns: 370px 370px 370px 370px;
  -webkit-box-align: center;
  grid-template-rows: auto;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 15vh;
}

/* box2 = grid for the product page */
.box2 {
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  align-items: center;
  justify-items: center;
  padding-top: 3vh;
  margin-bottom: 15vh;
}

.box3 {
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 50px;
}

.box img {
  width: 300px;
  margin: 0 auto;
  height: 348.5px;
}

.clickable {
  cursor: pointer;
}
.box img::-moz-selection,
.box img::selection,
.productSizing li::selection {
  background: rgba(255, 0, 0, 0);
}

/* makes the footer stay at the bottom of the page even if the page has no content. position-fixed for footer is not desired for the footer */
.container {
  /* full viewpoint - nav height - stickyfooter height */
  height: calc(100vh - 12vh);
  overflow: auto;
}

/* centers the cssgrid "box" that contains all the products.
 * 370px = one box in css grid. CHANGE IT TO A VARIABLE LATER.
 * multiplied by 5 because there are 5 boxes in one row by default. */
.centeredContainer {
  width: calc(370px * 4);
  margin: 0 auto;
}

/* used in non mobile centering too */
/* centers children horizontally and vertically. used in the navbar/nav */
/* call it footer/navbarparent or sth bc parent CLASS(make it id maybe) can be used in a lot of scenarios */
.centeringParent {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horizFixedCenteringParent {
  position: fixed;
  left: 50%;
  bottom: 6.045vh;
  z-index: 999;
}

.product {
  padding: 2vh 0;
}

.product p {
  text-align: center;
  color: black;
  font-size: 30px;
  height: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0 1vmin;
  position: relative;
  margin: 0.5vmin auto;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.55));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.55));
}

footer {
  /* centers pictures too */
  text-align: center;
  margin-bottom: 5.5rem;
}

*:link {
  text-decoration: none;
}

footer p {
  line-height: 2;
}

#navbarText a {
  font-family: "Open Sans Condensed", sans-serif;
}

footer ul li p {
  font-family: "Raleway", serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: rgba(250, 250, 250, 0.755);
}

nav > div > div > p {
  width: inherit;
  -ms-flex-preferred-size: inherit;
  flex-basis: inherit;
}

.menu-item {
  display: block;
  margin: 0 auto;
  text-align: center;
}

nav .navbarOne,
nav .navbarTwo,
nav .navbarThree {
  width: 33vw;
  height: 12vh;
}

nav .navbarOne {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

nav .navbarTwo {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}

nav .navbarThree {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.icon-button {
  width: 5vh;
}

#navbarText a {
  font-size: calc(9vmin);
  text-decoration: none;
  -webkit-transition: font-size none;
  transition: font-size none;
  color: black;
}

/* without this, the 'parent' div gets too large and the text ('a') isn't centered. */
nav .navbarTwo .centeringParent {
  margin: 0;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

#navbarText {
  margin: 0;
}

nav p {
  text-decoration: none;
  line-height: 0.8;
}

@media only screen and (max-width: 319px) and (min-width: 0px) {
  footer {
    margin-bottom: 1vh;
  }

  .box {
    margin-top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  #navbarText a {
    font-size: 11vmin;
  }

  .centeredContainer {
    width: auto;
    margin: auto;
  }

  .stickyFooter {
    position: relative;
  }

  .box img {
    width: 25vh;
    max-width: calc(100vh - 70vmin);
    margin: 0 auto;
    height: 30vh;
    max-width: 49vw;
  }

  .box .product,
  .box a {
    margin: 0 auto;
  }

  .box img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
  }

  .product p {
    height: auto;
    font-size: 1.1em;
    max-height: calc(100vh - 95vmin);
    font-size: 3vh;
  }
}

/* VERY WIDE PHONES. UI LOOKS LIKE PC */
@media only screen and (min-width: 680px) and (max-width: 1120px) {
  .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 335px 335px;
    grid-template-columns: 335px 335px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  .centeredContainer {
    width: calc(335px * 2);
    margin: 0 auto;
  }
}

/* TABLETS */
@media only screen and (min-width: 1121px) and (max-width: 1500px) {
  .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px 340px 340px;
    grid-template-columns: 340px 340px 340px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  .centeredContainer {
    width: calc(340px * 3);
    margin: 0 auto;
  }
}

@media only screen and (min-width: 330px) and (max-width: 1120px) and (min-height: 300px) and (max-height: 500px) {
  .box {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  .centeredContainer {
    width: auto;
    margin: auto;
  }

  .stickyFooter {
    position: relative;
  }

  .box img {
    /* CHANGE THIS to a percentage or vw/vh. */
    width: 42vmin;
    max-width: calc(100vh - 70vmin);
    margin: 0 auto;
    height: 38vh;
    max-height: 52vmin;
  }

  .box .product,
  .box a {
    margin: 0 auto;
  }

  .box img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
  }

  .product p {
    height: auto;
    font-size: 1.1em;
    max-height: calc(100vh - 95vmin);

    /* bugs on 768 zoomed in,  */
    /* max-width: calc(100vh - 95vmin); */
    font-size: 3vh;
  }
}

.container {
  scrollbar-color: #7f7f7f white;
  /* thumb and track color*/
  scrollbar-width: thin;
}

.container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.container ::-webkit-scrollbar {
  width: 1vmin;
  background-color: #f5f5f5;
}
.container ::-webkit-scrollbar-thumb {
  background-color: #000000;
}

img::-moz-selection,
nav p::-moz-selection,
img::selection,
nav p::selection {
  background: rgba(0, 0, 0, 0);
}

.stickyFooter {
  margin-top: 2vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 2vh;
  z-index: 2;
}

.stickyFooter ul {
  /* if 'display: flex' is put into 'footer', it WON'T work (unless i put 'display: inherit' here) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  /* hides all things that exceed the 'footer ul' element */
  overflow: hidden;
}

.stickyFooter ul li {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  list-style: none;
  text-align: center;
  -ms-flex-preferred-size: 33.3333%;
  flex-basis: 33.3333%;
  height: calc(4.65vh + 0.75vmin);
  -webkit-transition: background 190ms, color 0.7s;
  transition: background 190ms, color 0.7s;
  -webkit-transition: 190ms background linear;
}

.stickyFooter ul li:hover {
  color: black;
  background: rgba(245, 245, 245, 0.85);
}

.stickyFooter ul li p {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 2vmin;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  /* without this, the color won't change on hover as the hover is only applicable to 'li' */
  color: inherit;
}

.additionalPhotoBox img {
  height: 13rem;
}
.product img:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-filter: drop-shadow(2px 1px 4px #000033);
  filter: drop-shadow(2px 1px 4px #000033);
}

nav .navbarTwo .parent p:hover {
  -webkit-transition: 1s;
  transition: 1s;
  /* change the color to black and ditch the invert  */
  -webkit-filter: drop-shadow(5px 1px 4px rgba(255, 255, 255, 0.815));
  filter: drop-shadow(5px 1px 4px rgba(255, 255, 255, 0.815));
}

nav img {
  -webkit-transition: none;
  transition: none;
}

.icon-button:hover {
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  -webkit-filter: drop-shadow(5px 1px 2px rgba(0, 0, 0, 0.689));
  filter: drop-shadow(5px 1px 2px rgba(0, 0, 0, 0.689));
}

#goToTopIcon {
  -webkit-transition: 1s;
  transition: 1s;
}

/* used for scss. perhaps useless otherwise?  */
/*# sourceMappingURL=main.css.map */

/* product page */

.box2 img {
  margin: 0 auto;
}

.centeredContainer2 {
  /* width: calc(0.33fr * 3); */
  width: 0.99fr;
  margin: 0 auto;
}

.centeredContainer2 .product {
  cursor: pointer;
}

.productDescription img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.productDescription p {
  text-align: center;
}

.right {
  text-align: right;
}

#cartBtn {
  padding: 0 10px;
  margin: 0 auto;

  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 4px;
  height: 60px;

  font-size: 30px;
  color: black;
  background: black;
  font-size: 46px;
  text-align: center;
  margin-bottom: 10px;
}

/* implement this soon */
.buttonContainer {
  /* display: grid; */
  /* grid-template-columns: 80% 20%; */
}

.cartBtnImg {
  filter: invert(1);
}

#buyBtn {
  border: 1px solid rgba(0, 0, 0, 0.238);
  border-radius: 4px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  color: black;
  background: whitesmoke;
  font-size: 3rem;
  text-align: center;
}

#buyBtn:hover {
  background: rgb(225, 225, 225);
  transition: background 0.2s;
  transition: filter 0.2s;
  filter: drop-shadow(0 0 0.15rem black);
}

/* tablet vertical display. min-width 500px makes phones NOT applicable to this query */
@media only screen and (max-width: 1100px) and (min-height: 800px) and (min-width: 500px) {
  .box2 {
    /* for some reason '1fr' extends the page to the right, so i am using 100% */
    grid-template-columns: 100%;
    padding-top: 10px;
    margin-bottom: 3vh;
  }

  footer {
    padding-top: 2vh;
  }

  .box2 .productDescription {
    order: 3;
  }

  #arrowRight,
  #arrowLeft {
    display: none;
  }

  .box3 {
    grid-template-columns: 150px;
    width: 150px;
    margin: 0 auto;
    padding-top: 25px;
  }

  .product p {
    height: auto;
    font-size: 1.1em;
    max-height: calc(100vh - 95vmin);

    font-size: 3vh;
  }

  .bigProduct {
    width: 25.008rem;
    height: 30rem;
    max-height: 500px;
  }

  /* used mainly for centering */
  .bigProductContainer {
    width: 25.008rem;
    margin: 0 auto;
  }
}
/* TYPICAL PHONES. min height makes widescreen mode NOT applicable to this rule */
@media only screen and (max-width: 679px) and (min-width: 320px) and (min-height: 400px) {
  /* CHANGES THE 'REM' INITIAL SIZE FOR ALL ELEMENTS.  */
  /* 'REM' UNITS ARE USED IN FONT AND IMAGE SIZING */
  html {
    font-size: 14px;
  }

  .dropdown {
    width: 100vw;
    left: 0;
    top: 8vh;
  }
  .cartPreviewItem img {
    margin: 0 auto;
    max-height: none;
  }

  #cartDropdown {
    width: 100vw;
    left: -85vw;
  }



  .dropdown .menu-item li {
    padding: 1.25rem;
  }

  .product img:hover {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-filter: none;
    filter: none;
  }

  nav .navbarTwo .parent p:hover {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-filter: none;
    filter: none;
  }

  nav img {
    -webkit-transition: none;
    transition: none;
  }

  .icon-button img:hover {
    -webkit-transition: 0s;
    transition: 0s;
    width: 5vh;
    -webkit-filter: none;
    filter: none;
  }

  footer {
    padding-top: 5vh;
    margin-bottom: 1vh;
  }

  #goToTopIcon {
    bottom: 10px;
    width: 65px;
    height: 55px;
    right: calc(50vw - 65px);
  }
  .box {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  .centeredContainer {
    width: auto;
    margin: auto;
  }

  #navbarText a {
    font-size: 11vmin;
  }

  .stickyFooter {
    display: none;
  }

  .box img {
    /* CHANGE THIS to a percentage or vw/vh. */
    width: 42vmin;
    max-width: calc(100vh - 70vmin);
    height: 38vh;
    max-height: 52vmin;
  }

  .box .product,
  .box a {
    margin: 0 auto;
  }

  .box img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }

  .box2 {
    grid-template-columns: 100%;
    padding-top: 10px;
    margin-bottom: 3vh;
  }

  footer {
    padding-top: 2vh;
  }

  .box2 .productDescription {
    order: 3;
  }

  #arrowRight,
  #arrowLeft {
    display: none;
  }

  .box3 {
    grid-template-columns: 150px;
    width: 150px;
    margin: 0 auto;
    padding-top: 25px;
  }

  .product p {
    height: auto;
    font-size: 1.1em;
    max-height: calc(100vh - 95vmin);

    font-size: 3vh;
  }
}

@media only screen and (max-width: 1140px) {
  .productSizing li {
    padding: 0.25rem 1rem;
    margin: 0 0.5rem;
  }
}

/* mobile widescreen */
@media only screen and (max-height: 600px) and (min-width: 500px) {
  html {
    font-size: 1.3vmax;
  }
}

/* iphone 5s, se NON WIDESCREEN specific:  */
@media only screen and (max-height: 570px) and (min-width: 300px) and (max-width: 340px)
{
  .bigProduct,
  .bigProductContainer {
    width: 20rem;
    height: 24rem;
  }
}
/* iphone 4 5 5s se WIDESCREEN all look imperfect with the 10px, so i set it to 8 here */
@media only screen and (max-height: 400px) and (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 420px) {
  footer .imageContainer {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .cartPreviewItemTextGrid {
    grid-template-columns: 60% 40%;
  }
}
